.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-clone_of_gov_seo_landing_page_layout-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-clone_of_gov_seo_landing_page_layout-inside {
  padding-right: 0px;
}

.panels-flexible-clone_of_gov_seo_landing_page_layout {
  width: auto;
}

.panels-flexible-region-clone_of_gov_seo_landing_page_layout-header_banner {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-clone_of_gov_seo_landing_page_layout-13-inside {
  padding-right: 0px;
}

.panels-flexible-region-clone_of_gov_seo_landing_page_layout-top_left {
  float: left;
  width: 77.3522%;
}

.panels-flexible-region-clone_of_gov_seo_landing_page_layout-top_right {
  float: left;
  width: 21.6478%;
}

.panels-flexible-row-clone_of_gov_seo_landing_page_layout-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-clone_of_gov_seo_landing_page_layout-footer {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-clone_of_gov_seo_landing_page_layout-3-inside {
  padding-right: 0px;
}

.panels-flexible-column-clone_of_gov_seo_landing_page_layout-8 {
  float: left;
  width: 63.5891%;
}

.panels-flexible-column-clone_of_gov_seo_landing_page_layout-7 {
  float: left;
  width: 35.4109%;
}

.panels-flexible-row-clone_of_gov_seo_landing_page_layout-6-inside {
  padding-right: 0px;
}

.panels-flexible-region-clone_of_gov_seo_landing_page_layout-small_offer {
  float: left;
  width: 33.2866%;
}

.panels-flexible-region-clone_of_gov_seo_landing_page_layout-medium_offer {
  float: left;
  width: 65.7134%;
}

.panels-flexible-row-clone_of_gov_seo_landing_page_layout-10-inside {
  padding-right: 0px;
}

.panels-flexible-region-clone_of_gov_seo_landing_page_layout-rectangle {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-clone_of_gov_seo_landing_page_layout-11-inside {
  padding-right: 0px;
}

.panels-flexible-region-clone_of_gov_seo_landing_page_layout-offer_right {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-clone_of_gov_seo_landing_page_layout-9-inside {
  padding-right: 0px;
}

.panels-flexible-region-clone_of_gov_seo_landing_page_layout-footer_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-clone_of_gov_seo_landing_page_layout-12-inside {
  padding-right: 0px;
}

